<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Goods Listing</title>
  </head>
  <body>
    <h1>Goods management</h1>
    {{message}} </br>
    {{goodspage}} </br>
    {{Goodsdata}}</br>
    {{GoodsArray}}
  </body>
</html>